# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [199]:
import pandas as pd

## imports for Python, Pandas

In [200]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [201]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [202]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [203]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [204]:
# load json as string
sample_df_input = json.load((open('data/world_bank_projects_less.json')));

In [205]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

****

### Exploratory Details

In [206]:
# load json as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects.json')

In [207]:
# first instances
sample_json_df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [208]:
# Instances and attributes
sample_json_df.shape

(500, 50)

In [209]:
# info about 
sample_json_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 199.2+ KB

In [210]:
# missing values by attribute
sample_json_df.isnull().sum()

_id                           0
approvalfy                    0
board_approval_month          0
boardapprovaldate             0
borrower                     15
closingdate                 130
country_namecode              0
countrycode                   0
countryname                   0
countryshortname              0
docty                        54
envassesmentcategorycode     70
grantamt                      0
ibrdcommamt                   0
id                            0
idacommamt                    0
impagency                    28
lendinginstr                  5
lendinginstrtype              5
lendprojectcost               0
majorsector_percent           0
mjsector_namecode             0
mjtheme                       9
mjtheme_namecode              0
mjthemecode                   0
prodline                      0
prodlinetext                  0
productlinetype               0
project_abstract            138
project_name                  0
projectdocs                  54
projectfinancialtype          0
projectstatusdisplay          0
regionname                    0
sector                        0
sector1                       0
sector2                     120
sector3                     235
sector4                     326
sector_namecode               0
sectorcode                    0
source                        0
status                        0
supplementprojectflg          2
theme1                        0
theme_namecode                9
themecode                     9
totalamt                      0
totalcommamt                  0
url                           0
dtype: int64

****
### Question 1: Countries with most projects

In [211]:
# group by country, size, sorts and limits by 10
sample_json_df.groupby('countryshortname').size().nlargest(10)

countryshortname
China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Bangladesh            12
Morocco               12
Nepal                 12
Africa                11
Mozambique            11
dtype: int64

In [212]:
# same with sorted values
sample_json_df.groupby('countryshortname').size().sort_values(ascending=False).head(10)

countryshortname
Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Africa                11
dtype: int64

****
### Question 2: Most Project Theme

In [213]:
# import as string
sample_json_input = json.load((open('data/world_bank_projects.json')))

In [214]:
# normalize json: theme
theme = json_normalize(sample_json_input, 'mjtheme_namecode', ['countryshortname', 'id']);

In [215]:
# heading
theme.head()

  code                                   name countryshortname       id
0    8                      Human development         Ethiopia  P129828
1   11                                                Ethiopia  P129828
2    1                    Economic management          Tunisia  P144674
3    6  Social protection and risk management          Tunisia  P144674
4    5                  Trade and integration           Tuvalu  P145310

In [216]:
# size
theme.shape

(1499, 4)

In [293]:
# obtain project themes (note this excludes 122 blank items)
theme.groupby(['code','name']).size().sort_values(ascending=False).head(12)

code  name
11    Environment and natural resources management    223
10    Rural development                               202
8     Human development                               197
2     Public sector governance                        184
6     Social protection and risk management           158
4     Financial and private sector development        130
7     Social dev/gender/inclusion                     119
5     Trade and integration                            72
9     Urban development                                47
1     Economic management                              33
11                                                     27
4                                                      16
dtype: int64

In [297]:
# note: some themes are blank, so this removes those with missing values: toptheme
toptheme = theme[theme['name']!=''].groupby(['code','name']).size().sort_values(ascending=False)

In [298]:
# displays grouping statement
toptheme

code  name
11    Environment and natural resources management    223
10    Rural development                               202
8     Human development                               197
2     Public sector governance                        184
6     Social protection and risk management           158
4     Financial and private sector development        130
7     Social dev/gender/inclusion                     119
5     Trade and integration                            72
9     Urban development                                47
1     Economic management                              33
3     Rule of law                                      12
dtype: int64

In [342]:
# how many themes does each project have
theme.groupby('id').size().nlargest(10)

id
P102627    5
P110836    5
P113794    5
P118027    5
P120561    5
P121152    5
P122694    5
P122793    5
P122941    5
P123394    5
dtype: int64

In [343]:
# let's explore one instance (P129663)
theme[theme.id=='P129663']

    code               name countryshortname       id
911    8  Human development      Afghanistan  P129663
912    8  Human development      Afghanistan  P129663
913    8  Human development      Afghanistan  P129663
914    8  Human development      Afghanistan  P129663
915    8  Human development      Afghanistan  P129663

In [345]:
# are there any duplicates
theme.groupby(['id','code','name']).size().sort_values(ascending=False).head(10)

id       code  name
P131945  8     Human development                               5
P131919  8     Human development                               5
P130873  10    Rural development                               5
P123394  8     Human development                               5
P129663  8     Human development                               5
P131194  8     Human development                               5
P130888  11    Environment and natural resources management    5
P124761  6     Social protection and risk management           4
P118806  8     Human development                               4
P131666  6     Social protection and risk management           4
dtype: int64

****
### Question 3: Missing Values

In [349]:
# copy the theme dataframe: theme_cp
theme_cp = theme.copy()

In [348]:
# extract code and name combination: transfer
transfer = theme[theme['name']!=''][['code', 'name']].drop_duplicates().sort_values('code')

# create dictionary with code and name: codedic
codedic = dict(zip(transfer['code'], transfer['name']))
codedic

{'1': 'Economic management',
 '10': 'Rural development',
 '11': 'Environment and natural resources management',
 '2': 'Public sector governance',
 '3': 'Rule of law',
 '4': 'Financial and private sector development',
 '5': 'Trade and integration',
 '6': 'Social protection and risk management',
 '7': 'Social dev/gender/inclusion',
 '8': 'Human development',
 '9': 'Urban development'}

In [350]:
#for row in theme_cp
# if theme_cp.loc[1]['name'] == ''
#    theme_cp.loc[1]['name'] = codedic(theme_cp.loc[1]['code'])

for row in range(len(theme_cp)):
    if theme_cp.loc[row]['name'] == '':
        theme_cp.loc[row]['name'] = codedic[theme_cp.loc[row]['code']]

In [351]:
theme_cp.groupby(['code','name']).size().sort_values(ascending=False)

code  name
11    Environment and natural resources management    250
10    Rural development                               216
8     Human development                               210
2     Public sector governance                        199
6     Social protection and risk management           168
4     Financial and private sector development        146
7     Social dev/gender/inclusion                     130
5     Trade and integration                            77
9     Urban development                                50
1     Economic management                              38
3     Rule of law                                      15
dtype: int64